# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
      env:
        config_email: ${{secrets.GIT_CONFIG_EMAIL}}
        config_un: ${{secrets.GIT_CONFIG_USERNAME}}
    # Install all dependencies
    - run: |
        npm install
        git config --local user.email ${config_email}
        git config --local user.name ${config_un}
        npm run release
    #- name: Run the release script to update the package.json and CHANGELOG
    #  env:
    #    config_email: ${{secrets.GIT_CONFIG_EMAIL}}
    #    config_un: ${{secrets.GIT_CONFIG_USERNAME}}
    #  run: |
    #    git config --local user.email "$config_email"
    #    git config --local user.name "$config_un"
    #    npm run release
     
    # Push the tag and updated files
    #- run: git push --follow-tags origin master
    #- run: npm run build
    #- run: npm publish
    #  env:
    #    NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
